<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/css/layout.css"> 
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <%= erb :"/static/navigation" %>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <%= erb :"/static/copyright" %>
    </footer>
  </body>
</html>