<form action="/foods" method="post">
	<h2>Add New Food Item</h2>
	Name: <br><input label = "name" type="text" name="foods[name]"><br>
	Description: <br><input label = "description" type="text" name="foods[description]"><br>
	Price <br><input label = "price" type="text" name="foods[price]"><br>
	Allergens(True or False):<br><input label = "allergens" type="text" name="foods[allergens]"><br>
	<input type = "submit">

</form>