
<form action="/orders" method="post">
	<h2>Add New Order</h2>
  <div class = "formbody">
    Food <select name="orders[food_id]">
    <% @foods.each do |food| %>
    <option value="<%= food.id %>"><%= food.name %></option>
    <% end %>
  </select><br>
  Party <select name="orders[party_id]">
  <% @partys.each do |party| %>
  <option value="<%= party.id %>"><%= party.id %></option>
  <% end %>
</select><br>
<input type = "submit">
</div>

</form>