<table>
<thead>
<tr>
<td>Partys_id:</td>
<td>Foods_id:</td>
</tr>
<tr>
<td><%= @orders.partys_id %></td>
<td><%= @orders.food_id %></td>
</tr>
</thead>



</table>

<a href="/orders/<%= @orders.id %>/edit">Edit food</a>