<h2>Editing</h2>

<form action="/parties/<%= @parties.id %>" method="POST">
<input type="hidden" name="_method" value="PATCH">
 Amount of guest in party: <input type="number" name='parties[people]' value="<%= @parties.people %>"><br>
 
 <label for="paid">Paid</label>
  <input name="parties[paid]" type="hidden" value="false" />
  <input id="paid" name="parties[paid]" type="checkbox" value="true" />
  <br>

 <input type="submit">
</form>

<form action="/parties/<%= @parties.id %>" method="POST">
 <input type="hidden" name="_method" value="DELETE">
 <input type="submit" value="Delete Food">
</form>