<div class = "all">
	<form action="/parties" method="post">
		<h2>Add New Party</h2>
		<div class = "formbody">
			Guests in Party: <br><input label = "numberofpeople" type="text" name="parties[people]"><br>
			<br><input type="hidden" name="parties[paid]" value="false"><br>
			
			<input class = "sub" type = "submit">
		</div>

	</form>
</div>